Source: ros-noetic-actionlib-tutorials
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib, ros-noetic-actionlib-msgs, ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-roscpp, ros-noetic-std-msgs
Homepage: http://www.ros.org/wiki/actionlib/Tutorials
Standards-Version: 3.9.2

Package: ros-noetic-actionlib-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-message-runtime, ros-noetic-roscpp
Description: The actionlib_tutorials package
